<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>GameHub</title>
  <link rel="stylesheet" href="/css/style.css">
  <% if(isDiceRoller){ %>
    <link rel="stylesheet" href="/css/diceRoller.css">
  <% } %>
</head>

<body>
  <header>
    <h1>
      <a href="/">GameHub</a>
    </h1>
    <nav>
      <% games.forEach(game => { %>
        <li><a href="/game/<%= game.name %>"><%= game.title %></a></li>
      <% }); %>
      <!--
      <li><a href="/game/diceRoller">Dice Roller</a></li>
      <li><a href="/game/fourchette">Fourchette</a><li>
      -->
    </nav>
  </header>